.mcis-panel{
	margin: 20px auto;
	width: 90%;
	height: 65px;
}

.mcis-search > .mcis-search-condition {
	width: 150px;
	line-height: 25px;
	float: left;
	display: inline-block;
	background-color: #f4f4f4;
}

.mcis-search .mcis-search-condition select{
	background-color: #f4f4f4;
}

.mcis-search .mcis-search-input {
	width: 380px;
	line-height: 25px;
	float: left;
	margin-left: 20px;
	display: inline-block;
}

.mcis-search-input input.input-text{
	float: left;
 	display: inline-block;
 	width: 300px;
}

.mcis-search-input input.btn{
	float: right;
 	display: inline-block;
 	background-color: #09aeb0;
 	color: white;
}

.mcis-panel-title{
	color: gray;
	height: auto;
	border: none;
}

.mcis-table-nodata{
	text-align: center;
	font-size: 14px;
}

table > thead tr td{
	background-color: #f4f4f4;
	font-size: 15px;
}

.clearfix:after{content:"\20";display:block;height:0;clear:both;visibility:hidden}.clearfix{zoom:1}

.mcis-tabBar {
	border-bottom: 2px solid #09aeb0;
	width: 100%;
	font-style: normal;
	height: 60px;
}

.mcis-tabBar span {
	background-color: white;
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 42px;
	padding-top: 18px;
	width: 15%;
	font-size: 15px;
	text-align: center;
	font-weight: initial;
}

.mcis-tabBar span.current{
	background-color: #09aeb0;
	color: white;
	height: 42px;
}

.panel.mcis-panel>.panel{
	border: solid 1px #ddd;
}

.tabCon {
	display: none
}

